:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --pokemon-color: #444; /* default color */
}

.pokemon-color-red {
  --pokemon-color: #9b3636;
}
.pokemon-color-green {
  --pokemon-color: #3c7d3e;
}
.pokemon-color-blue {
  --pokemon-color: #3c4094;
}
.pokemon-color-yellow {
  --pokemon-color: #997d49;
}
.pokemon-color-brown {
  --pokemon-color: #503a27;
}
.pokemon-color-purple {
  --pokemon-color: #6b5aa6;
}
.pokemon-color-pink {
  --pokemon-color: #9b5b8f;
}
.pokemon-color-white {
  --pokemon-color: #7e7e7e;
}
.pokemon-color-gray {
  --pokemon-color: #474747;
}

body {
  min-width: 320px;
}

header,
#app {
  margin: 1rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.spacer {
  flex-grow: 1;
}

button,
label[role="button"] {
  border-radius: 0.5rem;
  background-color: #333;
  cursor: pointer;
  padding: 0.5rem;
  margin-left: 0.25rem;
}
button:focus,
label[role="button"]:focus {
  outline: solid 1px #646cff;
}

label:has(input:checked) {
  background-color: #444;
  outline: solid 1px #646cff;
}

/* Index page */
form,
fieldset {
  display: flex;
  align-items: center;
}
form {
  margin-bottom: 1rem;
}

fieldset {
  width: 100%;
}

form input {
  display: block;
}

form > input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #333;
  outline: none;
}
form > input:focus {
  background-color: #444;
}

label:has(input[type="radio"]) {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
label:has(input[type="radio"]:focus) {
  outline: solid 1px #646cff;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}
.pokemon-card {
  display: flex;
  outline: solid 1px white;
  cursor: pointer;
}
.pokemon-card:hover,
.pokemon-card:focus {
  outline: solid 1px #646cff;
}

.pokemon-card-colour {
  width: 5%;
  background-color: var(--pokemon-color);
}
.pokemon-card-content {
  padding: 0.5rem;
}

.pokemon-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-card-title {
  text-transform: capitalize;
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
}

/* Insepct Page */
.pokemon-single {
  display: flex;
  flex-direction: column;
}

.pokemon-single-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.pokemon-single-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem 1.5rem;
  background-color: var(--pokemon-color);
  border-radius: 0.5rem;
  margin: 0 auto 1rem;
}

.pokemon-single-title {
  font-size: 2rem;
  text-transform: uppercase;
}
.pokemon-single-id {
  font-size: 1.25em;
  font-weight: 500;
  margin: 0;
}

.pokemon-single-badges {
  display: flex;
  justify-content: center;
  margin: 2rem 0 3rem;
  gap: 3rem;
}
.pokemon-single-badges > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 0 0.25rem;
  border-radius: 100%;
  background-color: #333;
  box-shadow: 0px 0px 20px 10px #48abe0;
}
