:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

header {
  margin: 1rem;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

#search {
  display: flex;
}
#search > input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #333;
  outline: none;
}
#search > input:focus {
  background-color: #444;
}
#search > button {
  border-radius: 0.5rem;
  background-color: #333;
  cursor: pointer;
  padding: 0.5rem;
  margin-left: 0.25rem;
}
#search > button:focus {
  outline: solid 1px #646cff;
}

.card-grid {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}
.pokemon-card {
  outline: solid 1px white;
  padding: 0.5rem;
}
.pokemon-card:hover,
.pokemon-card:focus {
  outline: solid 1px #646cff;
}

.pokemon-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-card-title {
  text-transform: capitalize;
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
}
